<a href="https://colab.research.google.com/github/DevuRemesh/Internship/blob/main/sample_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title 
a=1
while a<10:
  print(a)
  a+=2

1
3
5
7
9

In [ ]:
a=[1,2,3,4,5]
for item in a:
  print(item)

1
2
3
4
5

In [ ]:
#@title calculator by AVA

print("Calculator")
print("1.Add")
print("2.Substract")
print("3.Multiply")
print("4.Divide")

ch=int(input("Enter Choice(1-4): "))

if ch==1:
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    c=a+b
    print("Sum = ",c)
elif ch==2:
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    c=a-b
    print("Difference = ",c)
elif  ch==3:
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    c=a*b
    print("Product = ",c)
elif ch==4:
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    c=a/b
    print("Quotient = ",c)
else:
    print("Invalid Choice")

Calculator
1.Add
2.Substract
3.Multiply
4.Divide
Enter Choice(1-4): 1
Enter A:5
Enter B:9
Sum =  14

In [ ]:

num = int(input('enter a number:'))
i = 2
flag = 0
while i<num:
    if num%i == 0:
        flag = 1
        print (num,"is NOT a prime number!");
    i = i + 1
if flag == 0:
    print (num,"is a prime number!");

In [ ]:
year=int(input("Enter year to be checked:"))
if(year%4==0 and year%100!=0 or year%400==0):
    print("The year is a leap year!")
else:
    print("The year isn't a leap year!")

Enter year to be checked:2024
The year is a leap year!

In [ ]:
n=int(input("Enter a number: "))
sum = 0
while(n > 0):
    sum=sum+n
    n=n-1
print("The sum of first n natural numbers is",sum)

Enter a number: 5
The sum of first n natural numbers is 15

In [ ]:
def greet():
    print("Hello")

In [ ]:
greet()

Hello

In [ ]:
def addnumber(num1,num2):
    sum=num1+num2
    print(sum)

In [ ]:
addnumber(4,5)

9

In [ ]:
def square(num1):
  print(num1*num1)

In [ ]:
square(6)

In [ ]:
list=[1,5,3,14,25,21]
s=0
for i in list:
  s=s+i
  print("the sum is:",s)

the sum is: 1
the sum is: 6
the sum is: 9
the sum is: 23
the sum is: 48
the sum is: 69

In [ ]:
string = input("enter the string:")
print(len(string))

enter the string:my name is devu
15

In [ ]:
string = input("enter the string:")
print(len(string))
print(len(string)//2)

enter the string:my name is devu
15
7

In [ ]:
s1 = input("enter the first string:")
s2 = input("enter the second string:")
newstring = s1+" "+s2
print("sum of two strings are:",newstring)
print(len(newstring))

enter the first string:she is
enter the second string:very beautiful
sum of two strings are: she is very beautiful
21